{
  "openapi": "3.0.1",
  "info": {
    "version": "1.4.1",
    "title": "Verification Middleware",
    "description": "API for verifying Verifiable Presentations, Verifiable Credentials, Doc hash",
    "termsOfService": "http://studio.dhiway.com/page/terms-and-conditions",
    "contact": {
      "name": "Dhiway Networks",
      "email": "info@dhiway.com",
      "url": "https://dhiway.com"
    },
    "license": {
      "name": "Apache v2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.cord.network",
      "description": "Demo server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/verify/credentials/verify": {
      "post": {
        "tags": ["Credential"],
        "summary": "Verify a Verifiable Credential",
        "description": "Verifies the given Verifiable Credential (VC) and returns validation checks.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Verifiable Credential object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "array", "items": { "type": "string" } },
                    "warnings": { "type": "array", "items": { "type": "string" } },
                    "checks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "isValid": { "type": "boolean" },
                          "message": { "type": "string" },
                          "type": { "type": "string" }
                        }
                      }
                    },
                    "credential": {
                      "type": "object",
                      "description": "The original or modified credential object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "invalid input! Not a valid Verifiable Credential"
          }
        }
      }
    },
    "/api/v1/verify/presentations/verify": {
      "post": {
        "tags": ["Presentations"],
        "summary": "Verify a Verifiable Presentation",
        "description": "Verifies the given Verifiable Presentation (VP) and returns validation checks.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Verifiable Presentation object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presentation verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "array", "items": { "type": "string" } },
                    "warnings": { "type": "array", "items": { "type": "string" } },
                    "checks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "isValid": { "type": "boolean" },
                          "message": { "type": "string" },
                          "type": { "type": "string" }
                        }
                      }
                    },
                    "presentation": { "type": "object", "additionalProperties": true }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid presentation format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/document/verify": {
      "post": {
        "tags": ["Document"],
        "summary": "Verify a document by hash",
        "description": "Verifies a document using its file hash and returns the block height.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["filehash"],
                "properties": {
                  "filehash": {
                    "type": "string",
                    "description": "SHA-256 hash of the document"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "blockHash": {
                          "type": "integer",
                          "description": "Block height from the blockchain"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid hash format or verification failed"
          }
        }
      }
    }
  }
}
